<div class="container">


  <%= form_for @message, html: {class: "form-create"} do |f| %>
    <h2>Welcome to Online SMS</h2>
    <p>To send SMS, enter your information below:</p>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    <br>
    <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
    <br>
    <%= f.text_area :text, class: "form-control", placeholder: "Text goes here" %>
    <br>
    <%= f.submit class: "btn btn-lg btn-primary"%>
  <% end %>
</div>
